
header {
    position: fixed;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--stp-background-light);
    height: 3rem;
    top: 0;
    left: 0;
    z-index: 10;


    .logo {
        position: relative;
        height: 2.5rem;

        img {
            height: 100%;
        }
    }

    .column {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;


        &.search {
            justify-content: space-between;
            width: 35%;
            min-width: 20rem;
            height: 3rem;

            @media (max-width: 800px) {
                display: none;
            }

            .search__input, .search__input-input {
                background-color: var(--stp-background-lighter);
                height: 2.3rem;
                flex-grow: 1;
                border-radius: var(--stp-button-radius);
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
            }

            .search__input-input {
                flex-grow: 1;
                padding: .5rem;
                color: var(--stp-foreground);

                &::placeholder {
                    color: var(--stp-foreground-dark);
                }
            }
        }
    }


}

aside {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    width: 3rem;
    left: 0;
    top: 3rem;
    background-color: var(--stp-background-light);
    color: var(--stp-foreground);
    height: calc(100% - 3rem);

    border-top: var(--stp-foreground) 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    transition: all .3s ease;
    z-index: 10;


    &::-webkit-scrollbar {
        display: none;
    }

    .column, .row {
        width: 100%;
    }

    li.row {
        justify-content: flex-start;
        padding: 0 .3rem;
    }

    p {
        white-space: nowrap;
        opacity: 1;
        transition: all .3s ease;
        width: 0;
    }

    &.full {
        width: 10rem;

        @media (max-width: 800px) {
            width: 100%;
        }

        .column {
            border-bottom: var(--stp-foreground) 1px solid;

            &:last-child {
                border-bottom: var(--stp-foreground) 0 solid;
            }
        }

    }

    &.compact {
        width: 3rem;

        a {
            width: max-content;
            border-radius: 50%;
        }
        p {
            opacity: 0;
            width: max-content;

        }

        .column {
            border-bottom: var(--stp-foreground) 0 solid;
        }
    }
}

@media (max-width: 800px) {
    aside {
        &.compact {
            width: 0;
        }

        &.full {
            width: 100%;
        }
    }
    #root {
        padding-left: 0;
    }
}