.audio-progress {
    width: 45%;
    position: relative;

    @media (max-width: 1200px) {
        flex-grow: 1;
        margin-right: 3rem;
    }
    @media (max-width: 600px) {
        margin-right: 0;
    }


    &__progress {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;

        &-time {
            font-size: .75rem;
            user-select: none;
        }

        &-bar {
            position: relative;
            height: .3rem;
            background: #ECEFF4;
            cursor: pointer;
            flex-grow: 1;
            border-radius: 1rem;
            transition: all .5s ease;

            &:hover {
                height: .7rem;
                transition: all .3s ease;
            }
        }

        &-progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #BF616A;
            border-radius: 1rem;
            transform: translateX(-.1rem);
        }
    }

    &__controls-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: translateY(-0.2rem);
    }
}