.audio-progress {
    width: 50%;
    position: relative;
    background-color: var(--stp-background-light);

    @media (max-width: 1200px) {
        flex-grow: 1;
        margin-right: 3rem;
    }
    @media (max-width: 600px) {
        margin-right: 0;
    }

    &__progress {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;

        &-time {
            font-size: .75rem;
            user-select: none;
        }

        &-bar {
            position: relative;
            height: .3rem;
            background: #ECEFF4;
            cursor: pointer;
            flex-grow: 1;
            border-radius: 1rem;
            transition: all .5s ease;

            &:hover {
                height: .7rem;
                transition: all .3s ease;
            }
        }

        &-progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #BF616A;
            border-radius: 1rem;
            transform: translateX(-.1rem);
        }

        &-preload {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 1rem;
            background-color: rgba(154, 156, 163, 0.5);
        }
    }

    &__controls-btns {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: translateY(-0.2rem);

        .row {
            width: calc(100% / 3);
        }
    }
}

.player-queue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
    }

}

.right-buttons-controls {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    gap: .5rem;
}

.value-input {
    display: none;
}

.VolumeControlIcon {
    path {
        transform: scale(.4);
    }
}

.nextOrPrev-track-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40%;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
    user-select: none;

    &__bgc {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover !important;
        background-position: center !important;
        border-radius: 1rem;
        filter: blur(1px);
        transition: all .3s ease;
    }

    svg {
        position: absolute;
        transition: all .2s ease;
        width: 120% !important;
        height: 120% !important;
        fill: rgba(236, 239, 244, 0.5);
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        gap: 1rem;
        width: 100%;
        height: 100%;
        word-break: break-word;
        transition: all .3s ease;
        opacity: 0;
    }


    &:hover {
        svg {
            fill: rgba(236, 239, 244, 0);
        }

        .nextOrPrev-track-button__bgc {
            //filter: blur(0);
        }

        .nextOrPrev-track-button__description {
            opacity: 1;
        }
    }

    &:active {
        transform: scale(0.95);
    }

    @media (max-width: 768px) {
        display: none;
    }
}


.full-page-player {
    width: 50%;
    height: 100%;
    background-color: transparent;
    position: relative;
    transition: all .3s ease;
    user-select: none;
    padding: 1rem;

    &__content, &__bgc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__bgc {
        background-size: cover !important;
        background-position: center !important;
        border-radius: 1rem;
        filter: blur(1px);
        transition: all .3s ease;
    }


    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: .1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    @media (max-width: 768px) {
        width: 95%;
        padding: .5rem;
    }
    @media (max-width: 600px) {
        width: 100%;
        padding: .1rem;
        .full-page-player__bgc {
            display: none;
        }
    }
}


.visualizer {

    div[id^='out-'] {}

}

