.audio-progress {
    width: 40%;
    position: relative;

    &__progress {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;

        &-time {
            font-size: .75rem;
        }

        &-bar {
            position: relative;
            height: .3rem;
            background: #ECEFF4;
            cursor: pointer;
            flex-grow: 1;
            border-radius: 1rem;
        }

        &-progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #BF616A;
            border-radius: 1rem;
            transform: translateX(-.1rem);
        }
    }
}