:root {
    --stp-red: #BF616A;
    --root-padding: 4rem;
}

* {
    transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
}


*::-webkit-scrollbar {
    width: 16px;
}

*:not([no-y-overflow])::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: var(--scroll-bar-color);
    transition: all ease .3s;

    animation: colorScrollBar .3s ease-out forwards;

    &:active {
        background-color: rgba(96, 96, 96, 1);
    }
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 67%);
}


@import '_zeroing';

body,
html {
    background: var(--stp-background);
    color: var(--stp-foreground);
}

body {

    overflow-x: hidden;
    overflow-y: auto;
}

html.noscroll {
    overflow: hidden !important;
}

html.noscroll body {
    overflow: hidden !important;
}

#root {
    padding-top: 3.5rem;
    padding-left: var(--root-padding);
    transition: all .3s ease;
}


.btn {
    background: var(--stp-background);
}

.btn:hover {
    background: var(--stp-foreground-alpha_quarternary);
}

img {
    max-width: 100%;
}

.round-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-width: 0rem !important;
    padding: 0.3rem !important;
    border-radius: 50% !important;
    width: 2.3rem !important;
    height: 2.3rem !important;

    svg {
        font-size: 1.7rem !important;
    }
}

#ThemeProvider {
    display: none;
}


.column, .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    &.start {
        justify-content: flex-start;

        &-start {
            align-items: flex-start;
        }

        &-end {
            align-items: flex-end;
        }
    }

    &.end {
        justify-content: flex-end;

        &-start {
            align-items: flex-start;
        }

        &-end {
            align-items: flex-end;
        }
    }

    &.w100 {
        width: 100% !important;
    }

    &.h100 {
        height: 100% !important;
    }
}

.row {
    flex-direction: row;
}

a {
    color: var(--stp-foreground);
    //text-decoration: underline;
}

.container {
    transition: all .3s ease;
}

@import '_header';
@import '_footer';
@import '_cards';
@import '_player';

[data-fit-text] {
    --width: 100vw;
    --scale: 0.9;
    line-height: 1;
    margin: 0 auto;
}

.anchor-link {
    display: flex;
    justify-content: flex-start;

    align-items: flex-start;
    flex-direction: row;
    width: max-content;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 150%;
    position: relative;
    /* identical to box height, or 109px */

    letter-spacing: 0.03em;
    max-width: 100%;

    transition: all .3s ease;

    &::before {
        content: "#";
        font-size: 2.5rem;
        font-weight: 900;
        font-style: normal;
        padding-right: .5rem;

        border-bottom: none;
    }


    &:hover {
        transform: scale(1.03) translateX(3%);
    }


}

swiper-container {
    width: calc(100% + 0rem);
    height: 13rem;
    margin: 1rem auto;
}

.myMason {
    margin: auto;
    width: 100%;
}
.mason {
    box-sizing: border-box;
    margin: auto;

    & > div {
        box-sizing: border-box;
        padding: .3rem;
    }

    &__parent {
        position: relative;
        box-sizing: border-box;

    }
}

    .no-animation {
        transition: none !important;

    * {
        transition: none !important;

    }
}