:root {
    --stp-red: #BF616A;
    --root-padding: 3rem;
}

* {
    transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
}


*::-webkit-scrollbar {
    width: 16px;
}

*:not([no-y-overflow])::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: var(--scroll-bar-color);
    transition: all ease .3s;

    animation: colorScrollBar .3s ease-out forwards;

    &:active {
        background-color: rgba(96, 96, 96, 1);
    }
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 67%);
}


@import '_zeroing';

body,
html {
    background: var(--stp-background);
    color: var(--stp-foreground);
}

body {

    overflow-x: hidden;
    overflow-y: auto;
}

html.noscroll {
    overflow: hidden !important;
}

html.noscroll body {
    overflow: hidden !important;
}

#root {
    padding-top: 3rem;
    padding-left: var(--root-padding);
    transition: all .3s ease;
}


.btn {
    background: var(--stp-background);
}

.btn:hover {
    background: var(--stp-foreground-alpha_quarternary);
}

img {
    max-width: 100%;
}

.round-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-width: 0rem !important;
    padding: 0.3rem !important;
    border-radius: 50% !important;
    width: 2.3rem !important;
    height: 2.3rem !important;

    svg {
        font-size: 1.7rem !important;
    }
}

#ThemeProvider {
    display: none;
}


.column, .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    &.start {
        justify-content: flex-start;

        &-start {
            align-items: flex-start;
        }

        &-end {
            align-items: flex-end;
        }
    }

    &.end {
        justify-content: flex-end;

        &-start {
            align-items: flex-start;
        }

        &-end {
            align-items: flex-end;
        }
    }

    &.gap {
        &-05 {
            gap: 0.5rem;
        }

        &-1 {
            gap: 1rem;
        }

        &-2 {
            gap: 2rem;
        }

        &-3 {
            gap: 3rem;
        }
    }

    &.w100 {
        width: 100% !important;
    }

    &.h100 {
        height: 100% !important;
    }
}

.row {
    flex-direction: row;
}

a {
    color: var(--stp-foreground);
    //text-decoration: underline;
}

.container {
    transition: all .3s ease;
}

@import '_header';
@import '_footer';
@import '_cards';
@import '_player';
@import '_logo';
@import '_form';
@import '_contentWrapper';



[data-fit-text] {
    --width: 100vw;
    --scale: 0.9;
    line-height: 1;
    margin: 0 auto;
}

.anchor-link {
    display: flex;
    justify-content: flex-start;

    align-items: center;
    flex-direction: row;
    width: max-content;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 150%;
    position: relative;
    /* identical to box height, or 109px */

    letter-spacing: 0.03em;
    max-width: 100%;

    transition: all .3s ease;

    &::before {
        content: "#";
        font-size: 2.5rem;
        font-weight: 900;
        font-style: normal;
        padding-right: .5rem;

        border-bottom: none;
    }


    &:hover {
        transform: scale(1.03) translateX(3%);
    }


}

swiper-container {
    width: calc(100% + 0rem);
    height: 13rem;
    margin: 1rem auto;
}

.myMason {
    margin: auto;
    width: 100%;
}

.mason {
    box-sizing: border-box;
    margin: auto;

    & > div {
        box-sizing: border-box;
        padding: .3rem;
    }

    &__parent {
        position: relative;
        box-sizing: border-box;

    }
}

.no-animation {
    transition: none !important;

    * {
        transition: none !important;

    }
}

//
//.sortable-list {
//    position: relative;
//
//  padding: 1rem;
//  min-height: 200px;
//  min-width: 200px;
//    z-index: 20;
//}
.sortable {
    width: 19rem;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: var(--stp-background-lighter);
    position: fixed !important;
    z-index: 1400 !important;
    border-radius: .5rem;
}

.queue-track {
    img {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
    }

    &.selected {
        background-color: var(--stp-background-lighter);

    }

    a:hover {
        text-decoration: underline;
    }
}


.preview-container {
    max-height: 80vh;
    background: linear-gradient(0deg, rgba(59, 66, 82, 0.9), rgba(59, 66, 82, 0.9));
    background-size: cover !important;
    background-repeat: no-repeat !important;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    &__player {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        flex: 1;
    }

    &__disc {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        padding: 1rem 0;
    }

    &__text {
        position: relative;
        -webkit-mask-image: linear-gradient(90deg, transparent 0, var(--stp-background-light) 6px, var(--stp-background-light) calc(100% - 1rem), transparent);
        width: 100%;

        &-authors {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            white-space: nowrap;
            max-width: 100%;
            -webkit-mask-image: linear-gradient(90deg, transparent 0, var(--stp-background-light) 6px, var(--stp-background-light) calc(100% - 1rem), transparent);
        }

        a {
            white-space: nowrap;
        }


        &-authors {
            font-size: 2rem;
            color: var(--stp-foreground-dark);
        }

        a:hover {
            text-decoration: underline;
        }


    }


}

.album {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    width: 25rem;
    background-color: var(--stp-background-light);
    margin: 1rem;
    gap: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;


    .album__tracks {
        padding: .3rem;
    }
}

.marquee {
    display: flex;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    container-type: inline-size;

    & > * {
        -webkit-animation: marquee 20s linear infinite both alternate;
        animation: marquee 20s linear infinite both alternate;
        animation-play-state: paused;

        &:hover {
            animation-play-state: running;
        }
    }
}


@-webkit-keyframes marquee {
    to {
        transform: translateX(min(100cqw - 100%, 0px));
    }
}

@keyframes marquee {
    to {
        transform: translateX(min(100cqw - 100%, 0px));
    }
}


.tabs-dotted {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    &__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;

        svg {
            cursor: pointer;

        }
    }

    swiper-container {
        height: 100%;
    }

    swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}


.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: .8rem;

    .tag {
        background-color: var(--stp-background-lighter);
        padding: .4rem .8rem;
        width: max-content;
        height: max-content;
        border-radius: .5rem;
    }
}

#snakeboard {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    text-align: center;
    font-size: 140px;
}

.text-wrap {
    p {
        min-height: 1rem;
    }
}

.scroll-container {
    width: 80vw;
    height: 60vh;
    position: relative;
    -webkit-mask-image: linear-gradient(0deg, transparent 0, transparent 10px, var(--stp-background-light) 2rem, var(--stp-background-light) calc(100% - 1rem - 10px), transparent calc(100% - 10px), transparent);
    padding: 1rem;

    swiper-container {
        width: 100%;
        height: 100%;
    }

    swiper-slide {
        font-size: 18px;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 30px;
    }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.dynamic-shadow {
  position: relative;
}

.dynamic-shadow:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  top: 0.5rem;
  filter: blur(0.4rem);
  opacity: 0.7;
  z-index: -1;
}
