// Color Palette
$dark3: #202225;
$dark2: #2C2F33;
$dark1: #23272A;
$red: #FF3727;
$redLight: #FF5043;
$light4: #717171;
$light3: #99AAB5;
$light2: #F6F6F6;
$light1: #FFFFFF;
$text: #ABB2BF;
@import "_zeroing";
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $dark2
}

@import "_header";
@import "_main";
@import "_footer";