{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Solid App</title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'assets/favicon-c85ad596.ico' %}">
    <link rel="stylesheet" href="{% static 'assets/index-4c5e7552.css' %}">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="module" src="{% static 'assets/index-ac7906d3.js' %}"></script>
</body>
</html>
